body{
  background-color: #ccc;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .col {
    float: left;
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  
  input[type="text"], input[type="number"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: inline;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 3%;
    margin-top: 2%;
  }

  #btn_comparar{
    background-color: #3e8e41;
  }
  #btn_comparar:hover {
    background-color: #4CAF50;
  }
  #btn_limpiar{
    background-color: #a32a2a;
  }
  #btn_limpiar:hover{
    background-color: #dd3939;
  }
  #btn_guardar{
    background-color: #2a50a3;
  }
  #btn_guardar:hover{
    background-color: #3965dd;
  }
  
  #resultado {
    margin-bottom: 20px;
  }
  
  #historial li {
    margin-bottom: 10px;
  }

  .nombre_producto{
    background-color: white;
    padding: 2%;
  }